@media (max-width: 768px) {
  .search {
    padding: 1em 0.5em;

    .search-input {
      width: 75%;
      padding: 0.75em 1em;
    }
    .search-btn {
      align-items: center;
      text-align: center;
      img {
        margin-left: 0%;
      }
    }
  }

  .expenses {
    position: relative;
    height: 600px;
    left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding: 1em 0.5em;
    overflow: hidden;

    .state {
      width: 100%;
      gap: 0.5em;
      padding: 1em;
    }

    .assets,
    .expense {
      width: 50%;
      max-width: none;
      padding: 0.25em;
      font-size: var(--text-sm);
    }

    .expense-lists {
      width: 100%;
      max-width: 100%;
      overflow-y: auto;
      padding-top: 3em;
    }

    .expense-list {
      width: 100%;
      max-width: 100%;
      padding: 0.5em;
    }

    .lists {
      font-size: 0.8rem;
      gap: 0.5rem;
    }

    #description {
      max-width: 80px;
    }
  }

  .side-bar {
    display: none;
  }
}
