:root {
  /* colors */
  --main-color: #151130;
  --primary-color: #1e223d;
  --secondary-color: #081512;
  --text-color: #beb69b;
  --normal-color: #daf1de;

  /* fonts */
  --font-main: "Space Grotesk", sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;

  /* text-size */
  --text-xs: clamp(0.75rem, 0.3vw + 0.65rem, 0.95rem);
  --text-sm: clamp(0.85rem, 0.3vw + 0.75rem, 1rem);
  --text-size: clamp(1.1rem, 0.6vw + 0.95rem, 1.35rem);
  --text-lg: clamp(2.5rem, 3vw + 1.5rem, 3.5rem);
  --text-xl: clamp(3rem, 4vw + 1.5rem, 5rem);

  /* font weights */
  --fw-light: 400;
  --fw-regular: 600;
  --fw-bold: 900;
}
